header nav, header nav ul, #Produtos{
    flex-wrap: wrap;
}

/* Celular */
@media(max-width: 600px){
    header nav, header nav ul{
        flex-direction: column;
    }

    #topo{
        margin-top: 350px;
    }

    #Produtos{
        flex-direction: column;
        text-align: center;
    }

    .full{
        padding: 0;
    }

    .form_lead{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .form_lead input, .form_lead button{
        width: fit-content;
        margin: 20px 10px;
    }
}
/* Tablets */
@media(max-width: 1200px){
    header nav, header nav ul{
        flex-direction: column;
    }

    #topo{
        margin-top: 300px;
    }

    #Produtos{
        flex-direction: row;
        text-align: center;
        
    }

    .full{
        padding: 0;
    }

    .form_lead{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .form_lead input, .form_lead button{
        width: fit-content;
        margin: 20px 10px;
    }
}